/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 11, 2021, 7:49:49 AM
    Author     : Onyekachukwu
*/

.JFXButton:hover{
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-scale-z: 2;
}